body{
    margin:0;
    font-family:"Tahoma",sans-serif;
    background:linear-gradient(#8dd8ff,#d9f7c8);
}

.container{
    max-width:900px;
    margin:30px auto;
    background:#fff8e8;
    border-radius:30px;
    padding:30px;
    text-align:center;
    box-shadow:0 10px 25px rgba(0,0,0,.2);
}


h1{
    color:#ff7b00;
    font-size:40px;
}


h2{
    color:#444;
}


h3{
    color:#555;
}


button{
    background:#ff9800;
    color:white;
    border:none;
    padding:15px 40px;
    border-radius:25px;
    font-size:22px;
    cursor:pointer;
    box-shadow:0 5px 10px #aaa;
}


button:hover{
    transform:scale(1.05);
}


#questionImage{
    width:400px;
    height:250px;
    object-fit:cover;
    border-radius:20px;
    border:5px solid #ffd54f;
}


.answerBtn{
    display:block;
    width:80%;
    margin:15px auto;
    background:#4caf50;
}


.answerBtn:hover{
    background:#388e3c;
}


#score{
    font-size:24px;
    color:#e65100;
    font-weight:bold;
}


#result{
    background:#fff3cd;
    padding:30px;
    border-radius:25px;
}
