body{
    margin:0;
    padding:0;
    font-family:Tahoma,sans-serif;
    background:linear-gradient(#87CEEB,#FFF8DC);
}

.container{
    width:90%;
    max-width:700px;
    margin:30px auto;
    background:white;
    border-radius:20px;
    padding:20px;
    box-shadow:0 5px 15px rgba(0,0,0,0.3);
    text-align:center;
}

h1{
    color:#ff6600;
}

p{
    font-size:20px;
}

.topbar{
    display:flex;
    justify-content:space-between;
    margin-bottom:15px;
    font-size:20px;
    font-weight:bold;
}

#question{
    font-size:26px;
    margin:20px 0;
}

#questionImage{
    width:100%;
    max-width:400px;
    border-radius:15px;
    margin:15px auto;
    display:block;
}

button{
    width:90%;
    max-width:350px;
    padding:15px;
    margin:10px;
    font-size:22px;
    border:none;
    border-radius:15px;
    background:#4CAF50;
    color:white;
    cursor:pointer;
    transition:0.3s;
}

button:hover{
    background:#2E7D32;
    transform:scale(1.05);
}

.answerBtn{
    display:block;
    margin:12px auto;
    background:#2196F3;
}

.answerBtn:hover{
    background:#1565C0;
}

.characters{
    display:flex;
    justify-content:center;
    gap:10px;
    flex-wrap:wrap;
}

.characters button{
    width:180px;
    background:#FF9800;
}

.characters button:hover{
    background:#EF6C00;
}

#result{
    text-align:center;
}

#finalScore{
    font-size:28px;
    color:#d32f2f;
    font-weight:bold;
}
.teamBtn{
    width:180px;
    height:220px;
    background:#FFD54F;
    color:black;
    font-size:22px;
    font-weight:bold;
}

.teamBtn img{
    width:120px;
    height:120px;
    object-fit:contain;
    margin-top:10px;
}
